<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">📋 Reports Dashboard</div>

<div class="container">

{% for r in reports %}
<div class="card">
    <h3>{{r.name}}</h3>
    <p><b>Roll No:</b> {{r.roll_no}}</p>
    <p><b>Violations:</b> {{r.violations}}</p>

    <span class="status {{r.status}}">{{r.status}}</span>

    <br><br>
    <a class="btn" href="/report/{{r.file}}">View Details</a>
</div>
{% endfor %}

</div>

<br>
<div style="text-align:center;">
    <a class="btn" href="/">⬅ Back</a>
</div>

</body>
</html>